body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.graph {
  position: relative;
  float: left;
}

img {
	padding: 5px;
}

span.indicator {
  position: absolute;
  height: 171px;
  background-color: gray;
  display: block;
  width: 1px;
  top: 5px;
  right: 0px;
  display: none;
}